<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - picnvid.com</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/assets/css")

    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/assets/css/main.css" />

</head>
<body id="top">
    <section id="banner" data-video="images/banner">
        <div class="inner">
            <header>
                <h1>picNvid</h1>
                <p>
                   Pictures & Videos
                </p>
            </header>
            <a href="#main" class="more">Learn More</a>
        </div>
    </section>

    @RenderBody()

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <h2>something interesting coming soon</h2>
            <p>website will be updated soon.</p>

            @*<ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>*@
            <p class="copyright">&copy; @DateTime.Now.Year.ToString() picnvid.com </p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/jquery.poptrox.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
